.filter-container {
    text-align: right;
}

.filter-input {
   height: 20px; 

   border: 1px solid #817d7d;
   border-radius: 4px;
}

.filter-input:hover,
.filter-input:focus {
    border: 1px solid #000000;
}

.filter-label {
    margin-left: auto;

    font-size: 20px;
}