.contacts-list {
    display: block ;

    text-align: left;
    font-size: 20px;
}

 .contacts__item {
    display: flex;
    align-items: center;
}

.contacts__item p {
    margin-right: 20px;
}

.delete-btn {
    width: 50px;
    height: 20px;

    background-color: #eb7676;
    border: none;
    border-radius: 4px;

    color: #ffffff;
}