.nav-home {
    margin-bottom: 20px;
}

.link-home {
    margin-right: 20px;

    text-decoration: none;
}

.link-home:hover,
.link-home:focus {
    text-decoration: underline;

    color: #fa0606;

    cursor: pointer;
}

.link-home__active {
    text-decoration: none;

    color: #fa0606;
}

.link-contacts {
    text-decoration: none;
}

.link-contacts:hover,
.link-contacts:focus {
    text-decoration: underline;

    color: #fa0606;

    cursor: pointer;
}

.link-contacts__active {
    text-decoration: none;

    color: #fa0606;
}