ul {
    display: flex;

    margin: 0;
    padding: 0;
}

.link-singup {
    margin-right: 20px;

    text-decoration: none;
}

.link-singup:hover,
.link-singup:focus {
    text-decoration: underline;
    color: #fa0606;

    cursor: pointer;
}

.link-singup__active {
    text-decoration: none;

    color: #fa0606;
}

.link-login {
    text-decoration: none;
}

.link-login:hover,
.link-login:focus {
    text-decoration: underline;
    color: #fa0606;

    cursor: pointer;
}

.link-login__active {
    text-decoration: none;

    color: #fa0606;
}